<div class="container">
    <h1>{{title}} from template url</h1>
    <ul>
        <li>
            <a routerLink="/home">Home Page</a>
        </li>
        <li>
            <a routerLink="/tasks">Link To Tasks List</a>
        </li>
        <li>
            <a routerLink="/users">Link To Users</a>
        </li>
        <li>
            <a routerLink="/admin">Link To Admin Module</a>
        </li>
        <li>
            <a routerLink="/demo/directives">Link To Directives Demo</a>
        </li>
        <li>
            <a routerLink="/tuytuy">Link To ErrorPage</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
    <!-- <a href='#'>link</a> -->
    <!-- <app-task-list></app-task-list> -->
    <!-- <app-async-await-demo></app-async-await-demo> -->
    <!-- <app-observable-demo></app-observable-demo> -->
    <!-- showParentLife: <input type="checkbox" [(ngModel)]="showParentLife"/> -->
    <!-- <app-parent-life [x]="3" *ngIf="showParentLife" ></app-parent-life> -->
</div>